.container {
    display: grid;
    grid-template-areas:
      "content1 image1"
      "content2 image2"
      "footer footer";
    grid-template-columns: 800px 800px;
    gap: 1px;
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .container > div {
    background-color: white;
    padding: 4px;
  }
  .container > div.content1{
    grid-area: content1;
    height: 450px;
    width: 100%;
    position: relative;
  }
  .container> div.image1{
    grid-area: image1;
    height: 450px;
    position: relative;
  }

  .container > div.content2{
    grid-area: content2;
    height: 600px;
    position:relative;
  }
  .container> div.image2{
    grid-area: image2;
    height: 600px;
    position: relative;
  }
  .container> div.footer{
    grid-area: footer;
    width: 100%
  }

  .nav{
    grid-column-gap: 20px;
    background-color: white;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
    display: flex;
    text-align: left;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav a{
    color: #7c8176;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;

}
.nav a + a {
  margin-left: 15px;
}

.h-1{
    color: grey;
    letter-spacing: -2.8px;
    text-transform: capitalize;
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    position:absolute;
    top: 50px;  
    left: 10px;
    text-wrap: wrap;

}

.h-2{
    color: grey;
    letter-spacing: -2.8px;
    text-transform: capitalize;
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    position:absolute;
    top: 0px;  
    left: 10px;
    text-wrap: wrap;

}

.p-1{
    color: grey;
    text-wrap: wrap;
    letter-spacing: -.5px;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    position:absolute;
    top: 130px;  
    left: 10px;
}
.p-2{
    color: grey;
    text-wrap: wrap;
    letter-spacing: -.5px;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    position:absolute;
    top: 80px;  
    left: 10px;
}
.p-3{
    color: grey;
    text-wrap: wrap;
    letter-spacing: -.5px;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    position:absolute; 
    left: 10px;
    top: 210px;
}

.p-4{
    color: grey;
    text-wrap: wrap;
    letter-spacing: -.5px;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    position:absolute;
    top: 135px;  
    left: 10px;
}
.vmzip{
  color: grey;
    text-wrap: wrap;
    letter-spacing: -.5px;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    position:absolute;
    top: 260px;  
    left: 10px;
}

.p-5{
    color: grey;
    text-wrap: wrap;
    letter-spacing: -.5px;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    position:absolute;
    top: 135px;  
    left: 150px;
}

.img1{
    position: absolute;
    top: 80px; 
    right: 40px;
}

.nls{
    color: grey;
    text-wrap: wrap;
    letter-spacing: -.5px;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    position:absolute; 
    left: 10px;
    top: 400px;
}




    

.inventory {
    position: absolute;
    top: 2500 px;
    left: 10px;
    background-color: yellowgreen; /* Blue background */
    color: white; /* White text */
    font-size: 16px; /* Text size */
    font-weight: 600; /* Slightly bolder text */
    padding: 12px 24px; /* Padding for button */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.zip {
  position: absolute;
  top: 2500 px;
  left: 10px;
  background-color: yellowgreen; /* Blue background */
  color: white; /* White text */
  font-size: 16px; /* Text size */
  font-weight: 600; /* Slightly bolder text */
  padding: 12px 24px; /* Padding for button */
  border: none; /* Remove default border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


.model{
    position: absolute;
    top: 2500 px;
    left: 10px;
    background-color: yellowgreen; /* Blue background */
    color: white; /* White text */
    font-size: 16px; /* Text size */
    font-weight: 600; /* Slightly bolder text */
    padding: 12px 24px; /* Padding for button */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.method{
  position: absolute;
  top: 2500 px;
  left: 10px;
  background-color: yellowgreen; /* Blue background */
  color: white; /* White text */
  font-size: 16px; /* Text size */
  font-weight: 600; /* Slightly bolder text */
  padding: 12px 24px; /* Padding for button */
  border: none; /* Remove default border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.imgR{
  position: absolute;
  top: 30px; 
  right: 50px;
}


footer{
    background-color: yellowgreen;
    width: 100%;
    height: 60px;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    display:flex;
    inset: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1px;
  }
  footer a{
    text-decoration: none;
    color: white;
  }
    