.container {
    display: grid;
    grid-template-areas:
      "content pics"
      "bulkp bulkm"
      "footer footer";
    grid-template-columns: 900px 600px;
    gap: 1px;
    background-color: white;
    padding: 4px;
    width: 100%;
    height: 100%;
    contain:layout;
  }
  .container > div {
    background-color: white;
    padding: 4px;
  }
  .container > div.content {
    grid-area: content;
    height: 700px;
    position: relative;
  }
  .container > div.pics {
    grid-area: pics;
    height: 700px;
    position: relative;
  }
  .container >div.bulkp{
    grid-area: bulkp;
    height: 670px;
    position: relative;
  }
  .container >div.bulkm{
    grid-area: bulkm;
    height: 670px;
    position: relative;
  }
  .container > div.footer {
    grid-area: footer;
  }   


.nav{
    grid-column-gap: 20px;
    background-color: white;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
    display: flex;
    text-align: left;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav a{
    color: #7c8176;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;

}
.nav a + a {
  margin-left: 15px;
}




.heading-1 {
    color: grey;
    letter-spacing: -2.8px;
    text-transform: capitalize;
    font-family: Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    position:absolute;
    top: 150px;  
    left: 60px;

}
.meat-1{
    color: grey;
    text-wrap: wrap;
    letter-spacing: -.5px;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    position:absolute;
    top: 250px;  
    left: 60px;

}
.heading-2 {
  color: grey;
  letter-spacing: -2.8px;
  text-transform: capitalize;
  font-family: Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  position:absolute;
  text-wrap: wrap;
  top: 50px;  
  left: 0px;
  padding-left:200px;

}
.meat-2{
  color: grey;
  text-wrap: wrap;
  letter-spacing: -.5px;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  position:absolute;
  top: 200px;  
  left: 0px;
  padding-left:200px;

}




.img1{
    border-radius: 10px;
    position: absolute;
    
    top: 30px; left: 470px;
    z-index: 2;

}
.img2{
    border-radius: 10px;
    position: absolute;
    top: 80px; right: 10px;
    z-index: 1;
}
.img3{
    border-radius: 10px;
    position: absolute;
    top: 30px; left: 10px;
    z-index: 2;
    object-fit: cover;
}
.img4{
    border-radius: 10px;
    position: absolute;
    top: 10px; right: 300px;
    z-index: 2;
    object-fit: cover;
}






<!--Body-->
body {
    color: #333;
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}  



footer{
  background-color: yellowgreen;
  width: 100%;
  height: 60px;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  text-align: center;
  display:flex;
  inset: 0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1px;
  
}
footer a{
  text-decoration: none;
  color: white;
}
  

