.container {
    display: grid;
    grid-template-areas:
      "content1"
      "content2"
      "content3"
      "content4"
      "footer";
    grid-template-columns: 100%;
    gap: 1px;
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .container > div {
    background-color: white;
    padding: 4px;
  }
  .container > div.content1{
    grid-area: content1;
    height: 600px;
    width: 100%;
    position: relative;
    
  }
  .container> div.content2{
    grid-area: content2;
    height: 570px;
    position: relative;
  }
  .container> div.content3{
    grid-area: content3;
    height: 880px;
    position: relative;
  }
  .container> div.content4{
    grid-area: content4;
    height: 750px;
    position: relative;
  }
  .container> div.footer{
    grid-area: footer;
    width: 100%
  }

  .nav{
    grid-column-gap: 20px;
    background-color: white;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
    display: flex;
    text-align: left;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav a{
    color: #7c8176;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;

}
.nav a + a {
  margin-left: 15px;
}

.heading-1 {
    color: grey;
    letter-spacing: -2.8px;
    text-transform: capitalize;
    font-family: Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    position:absolute;
    top: 50px;  
    left: 10px;
    text-wrap: wrap;
}
.headclim {
  color: grey;
  letter-spacing: -2.8px;
  text-transform: capitalize;
  font-family: Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  position:absolute;
  top: 10px;  
  left: 10px;
  text-wrap: wrap;
}
.headcom {
  color: grey;
  letter-spacing: -2.8px;
  text-transform: capitalize;
  font-family: Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  position:absolute;
  top: 10px;  
  left: 10px;
  text-wrap: wrap;
}
.headbio{
  color: grey;
  letter-spacing: -2.8px;
  text-transform: capitalize;
  font-family: Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  position:absolute;
  top: 10px;  
  left: 10px;
  text-wrap: wrap;
}
.p-1{
    color: grey;
    text-wrap: wrap;
    letter-spacing: -.5px;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    position:absolute;
    top: 200px;  
    left: 10px;
}


.p-2{
    color: grey;
    text-wrap: wrap;
    letter-spacing: -.5px;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    position:absolute;
    top: 50px;  
    left: 10px;
}





.img1{
    border-radius: 10px;
    position: absolute;
    top: 80px; 
    right: 40px;
}


.climatetab{
    width:98%;
    position:absolute;
    top: 120px;
    left: 10px;
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;


}
.climatetab th{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: yellowgreen;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 15px;
    
}
.climate tr, td{
    text-align: left;
    font-family: Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;

}
.climate tr:hover {
    background-color: #f1f1f1;
  }
  .comtab{
    width:98%;
    position:absolute;
    top: 130px;
    left: 10px;
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;

}
.comtab th{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: yellowgreen;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.comtab tr, td{
    text-align: left;
    font-family: Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;

}
.com tr:hover {
    background-color: #f1f1f1;
  }

.biotab{
    width:98%;
    position:absolute;
    top: 130px;
    left: 10px;
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;

}
.biotab th{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: yellowgreen;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.biotab tr, td{
    text-align: left;
    font-family: Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;

}
.biotab tr:hover {
    background-color: #f1f1f1;
  }



  footer{
    background-color: yellowgreen;
    width: 100%;
    height: 60px;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    display:flex;
    inset: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1px;
  }
  footer a{
    text-decoration: none;
    color: white;
  }
    